@model LanguageSchool.Models.Staff

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sil</title>
</head>
<body>
    <h3>Bu kaydı silmek istediğinize emin misiniz?</h3>
    <div>
        <h4>Kullanıcı Sil</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Position)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Position)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-default" /> |
                @Html.ActionLink("Geri Dön", "Index")
            </div>
        }
    </div>
</body>
</html>
