@model LanguageSchool.Models.Teacher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaylı Bilgi</h2>

<div>
    <h4>Öğretmen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt >
           <label>Tanım</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <label>İsim</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            <label>Soyisim</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            <label>Email</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <label>Telefon Numarası</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            <label>Başlama Tarihi</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfStart.Day)/
            @Html.DisplayFor(model => model.DateOfStart.Month)/
            @Html.DisplayFor(model => model.DateOfStart.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzelt", "Edit", new { id = Model.Id },new {@class="btn btn-warning"}) |
    @Html.ActionLink("Geri Dön", "Index","",new {@class="btn btn-primary"})
</p>
